<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>详细内容</title>
		<link rel="stylesheet" type="text/css" href="/public/bootstrap-3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/perfumer.css"/>
	</head>
	<body>
		<!-- <img style="width: 100%;height: 50px;" src="/public/images/banner.png" > -->
		<div class="backcolor"></div>
		<div class="container percon">
			<div class="row">
				<div class="col-md-3 img">
					<img src="/public/images/perfumer/12058684.jpg" >
				</div>
				<div class="col-md-9 desc">
					<h1>Ernest Beaux</h1>
					<p style="text-indent: 2em;line-height: 30px;">
						Ernest Beaux (1881 - 1961)于1882年在俄罗斯莫斯科出生。他的父亲是Rallet香水公司
						的总监，他的弟弟在Alphonse Rallet & Co.公司工作。1902年，他开始在Rallet香水公司
						的主任A. Lemercier手下学习。5年后的1907年，Ernest顶替了老师，成为了Rallet香水公
						司的主要调香师。Ernest是拿破仑的狂热者，他在1912年推出香水“Bouquet de Napoleon”。 俄国革命后移民，1920年创造出了举世闻名的香奈儿5号。1961年，Ernest辞去了香奈尔及Bourgeoisie的工作。没过多久，这位伟大的香水大师于1962年逝世。
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 works">
					<h3>TA的作品</h3>
					<div id="items" class="items">
						<div class="item">
							<a href="#" class="imgborder">
								<img src="https://img.xssdcdn.com/perfume/216503.jpg!m" >
							</a>
							<div class="detail">
								<a href="#">
									<h2>香奈儿 5号古龙水 Chanel No 5 Eau de Cologne, 1921</h2>
								</a>
								<div class="score">
									<span class="sa8"></span>
									 8.3 分 68 人评价
								</div>
								<div class="info">
									前调：橙花,依兰,香柠檬,柠檬,醛<br>
									中调：鸢尾花,茉莉,鸢尾根,玫瑰,铃兰<br>
									后调：香根草,麝香,檀香木,广藿香,橡木苔,琥珀,香草,麝猫香
								</div>
							</div>
						</div>
						<div class="item">
							<a href="#" class="imgborder">
								<img src="https://img.xssdcdn.com/perfume/725309.jpg!m" >
							</a>
							<div class="detail">
								<a href="#">
									<h2>香奈儿 5号古龙水 Chanel No 5 Eau de Cologne, 1921</h2>
								</a>
								<div class="score">
									<span class="start0 sa8"></span>
									 8.3 分 68 人评价
								</div>
								<div class="info">
									前调：橙花,依兰,香柠檬,柠檬,醛<br>
									中调：鸢尾花,茉莉,鸢尾根,玫瑰,铃兰<br>
									后调：香根草,麝香,檀香木,广藿香,橡木苔,琥珀,香草,麝猫香
								</div>
							</div>
						</div>
						<div class="item">
							<a href="#" class="imgborder">
								<img src="https://img.xssdcdn.com/perfume/725309.jpg!m" >
							</a>
							<div class="detail">
								<a href="#">
									<h2>香奈儿 5号古龙水 Chanel No 5 Eau de Cologne, 1921</h2>
								</a>
								<div class="score">
									<span class="start0 sa8"></span>
									 8.3 分 68 人评价
								</div>
								<div class="info">
									气味：香根草,麝香,檀香木,广藿香,橡木苔,琥珀,香草,麝猫香
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/public/js/jquery-3.3.1.min.js"></script>
		<script src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			var id = localStorage.getItem('id');
			// console.log(id);
			$.ajax({
				type: 'get',
				url: '/api/perfumercon' + id,
				dataType: 'json',
				success: function(data) {
					console.log(data);	
				}
			})
		</script>
	</body>
</html>
