<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>调香师</title>
		<link rel="stylesheet" type="text/css" href="/public/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/perfumer.css" />
	</head>
	<body>
		<div class="container con">
			<div id="head" class="row"></div>
			<div class="row">
				<div id="txsl1" class="txsl1">
					<h2>调香师</h2>
				</div>
			</div>
		</div>
	</body>
	<script src="/public/js/jquery-3.3.1.min.js"></script>
	<script src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$.ajax({
			type: 'post',
			url: '/api/perfumerIntroduce',
			dataType: 'json',
			success: function(data) {
				if (data.code == 0) {
					var ht = "<div class='col-md-6 txsl'>" + data.msg[0].p_content + "</div>" +
						"<div class='col-md-6 txsl'>" +
						"<img style='width: 100%;height: 385px;' src='"+data.msg[0].p_imgurl+"'>" +
						"</div>";
					$('#head').append(ht);
				}
			}
		})
		$.ajax({
			type: 'post',
			url: '/api/perfumer',
			dataType: 'json',
			success: function(data) {
				if (data.code == 0) {
					var ht = ''
					for (var i = 0; i < data.msg.length; i++) {
						ht +=
							"<div id= 'perfumercon' class='col-md-2' data-id = '"+data.msg[i].pc_id+"'>" +
							"<a href='api/perfumercon/"+data.msg[i].pc_id+"'>" +
							"<img src=" + data.msg[i].pc_img + ">" +
							"<h3>" + data.msg[i].pc_name + "</h3>" +
							"</a>" +
							"</div>";
					}
					$('#txsl1').append(ht);
					var id = $(this).attr("data-id");
					var params = JSON.stringify(id);
					localStorage.setItem('id',id);
					// $(document).on('click', '#perfumercon', function(){
					// 	var id = $(this).attr("data-id");
					// 	var params = JSON.stringify(id);
					// 	localStorage.setItem('id',id);
					// })
				}
			}
		})
	</script>
</html>
