body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #FFFFFF;
	font-family: "Microsoft YaHei", sans-serif;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
}

.nav>li {
	/* text-align: center; */
}

.nav>li>a {
	margin: 0;
}

.nav-pills>li>a {
	border-radius: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
	background-color: #f35844;
	color: #fff;
}

.navbar {
	border-radius: 0;
	background-color: #3d3d3d;
	color: #fff;
	min-height: 55px;
}

.container-fluid {
	line-height: 55px;
}

.navbar-collapse {
	padding-left: 5px;
	padding-right: 5px;
}

.dropdown-menu {
	min-width: 180px;
	background-color: #3d3d3d;
	border-radius: 0;
}

.dropdown-menu>li>a {
	padding: 10px 15px;
	color: #fff;
}

.dropdown-menu>li>a:hover {
	background-color: #f35844;
	color: #fff;
}

.pageContainer {
	bottom: 0;
	left: 0;
	right: 0;
	top: 55px;
	overflow: auto;
	position: absolute;
	width: 100%;
}

.pageSidebar {
	width: 180px;
	height: 100%;
	padding-bottom: 30px;
	overflow: auto;
	background-color: #313131;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: #222222;
}

.splitter {
	width: 5px;
	height: 100%;
	bottom: 0;
	left: 180px;
	position: absolute;
	overflow: hidden;
	background-color: #646464;
}

.pageContent {
	height: 100%;
	min-width: 768px;
	left: 185px;
	top: 0;
	right: 0;
	z-index: 3;
	padding-bottom: 30px;
	position: absolute;
}

.footer {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 10;
	background-color: #3d3d3d;
	padding: 0 15px 0 10px;
	color: #fff;
}

.footer .text-left {
	float: left;
}

.footer .text-right {
	float: right;
}
.footer .text-right a {
	text-decoration: none;
}
