.carousel1 {
	
}

.col-12 {
	margin-top: 25px;

	background: url(/public/images/an36.png) no-repeat center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	margin-bottom: 40px;
}

.col-12-bottom {
	border: 1px solid darkgray;
}

.col-4 {
	text-align: center;
	margin-top: 20px;
}

.col-4 a {
	text-align: left;
	color: #000;
	text-decoration: none;
}

.col-4 img {
	width: 100%;
}

.col-5 {
	margin-top: 35px;
}

.col-5-left {
	cursor: pointer;
	margin-top: 40px;
	padding-left: 0;
}

.col-5-left img {
	width: 100%;
	background-size: contain;
}

.btn-default {
	text-align: center;
	width: 130px;
	height: 50px;
	border-radius: 2.5rem;
	border: 1px solid #000;
	outline: none;
	font-size: 16px;
	font-family: '微软雅黑';
}

.btn-default:hover {
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #000;
}

.btn-default:active {
	background-color: #fff;
}

.btn-default:link {
	background-color: #fff;
}

.btn-default:visited {
	background-color: #fff;
}

.col-5-right {
	cursor: pointer;
	margin-top: 40px;
	padding-right: 0;
	position: relative;
}

.col-5-right .item img {
	width: 100%;
	height: 350px;
	background-size: contain;
	font-family: '微软雅黑';
}

.col-5-right img {
	width: 100%;
	height: 350px;
	background-size: contain;
	font-family: '微软雅黑';
}

.con p {
	padding-top: 18px;
	font-size: 13px;
	color: grey;
}

.con div {
	font-weight: 600;
	color: #000;
	font-size: 15px;
}

.con .price {
	padding-top: 14px;
}

.carousel-indicators {
	position: absolute;
	bottom: 0;
}

.carousel-indicators li {
	border: 1px solid #000;
}

.carousel-indicators .active {
	background-color: #000;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.index_topic ul,
.index_topic1 ul {
	list-style: none;
	padding: 0;
}

.index_topic ul li,
.index_topic1 ul li {
	line-height: 30px;
	border-bottom: 1px dashed #eee;
	width: 327px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.index_topic ul li:nth-child(2n-1) {}

.index_topic ul li:nth-child(2n) {
	float: right;
}

.index_topic ul li a,
.index_topic1 ul li a {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 12px;
}

.index_topic1 ul li {
	width: 99%;
}

.jb1 {
	border-radius: 0;
	border: 1px solid #e5e5e5;
	padding: 10px 28px 40px !important;
}

.jb2 {
	border-radius: 0;
	border: 1px solid #e5e5e5;
	padding: 10px 28px 2px !important;
}

.jb3 {
	border-radius: 0;
	border: 1px solid #e5e5e5;
	padding: 10px 28px 39px !important;
}

.jb1 h1,
.jb2 h1 {
	color: #6e7099;
	font-size: 22px;
	list-style: none;
	font-weight: normal;
}

.jb1 h1 a,
.jb2 h1 a {
	font-size: 18px;
	color: #6e7099;
	font-weight: normal;
	text-decoration: none;
}

.index_daren .jb1 h1,
.index_focus .jb2 h1 {
	font-size: 18px;
	color: #6e7099;
	font-weight: normal;
	text-decoration: none;
}

.index_daren ul {
	margin: 14px 0 0 0;
	overflow: hidden;
	list-style: none;
	padding-left: 0;
}

.index_daren li {
	width: 85px;
	overflow: hidden;
	float: left;
	margin-right: 25px;
}

.index_daren li a {
	text-decoration: none;
	color: #555;
	font-size: 13px;
	display: block;
}

.index_daren li a img {
	border: 0;
	border-style: none;
	border-width: 0;
	width: 85px;
	height: 85px;
	border-radius: 85px;
}

.index_daren .name {
	clear: both;
	text-align: center;
	padding-top: 10px;
}

.index_focus .jb2 .scan {
	font-size: 14px;
	color: #444;
	margin: 28px 0 12px 0;
	padding: 0;
}

.index_focus .jb2 .gz {
	font-size: 13px;
	color: #6c6c6c;
	margin: 14px 0 0 0;
}

.index_focus .jb2 .gz .gzt {
	vertical-align: middle;
	margin-bottom: 10px;
	font-size: 12 !important;
	color: #6c6c6c;
}

.index_focus .jb2 .gz .gzt a {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 12px;
	padding-left: 10px;
}

.index_focus .qrcode {
	width: 100px;
	height: 100px;
	float: right;
	margin-right: 12px;
	margin-top: -120px;
}

.icon {
	width: 2em;
	height: 2em;
	vertical-align: -0.5em;
	fill: currentColor;
	overflow: hidden;
	display: inline-block;
}
