.con {
	width: 88%;
	margin: 0 auto;
}

.txsl {
	margin-top: 15px;
	font-size: 13px;
	padding: 0 0 10px 0;
}

.txsl1 {
	padding: 5px 5px 5px 9px;
}

.txsl1 h2 {
	clear: both;
	font-size: 18px;
	color: #F19BAA;
}

.txsl1 .col-md-2 {
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
}

.txsl1 .col-md-2 a {
	text-decoration: none;
	color: #F19BAA;
}

.txsl1 .col-md-2 a img {
	width: 100%;
	height: 220px;
}

.txsl1 .col-md-2 h3 {
	font-size: 13px;
	color: #F19BAA;
}

.img img {
	vertical-align: middle;
	max-width: 154px;
	max-height: 195px;
}

.backcolor {
	height: 60px;
	background-image: linear-gradient(#f19baa, #f1c7cf);
}

.percon {
	margin-top: 15px;
}

.desc {
	font-size: 14px;
}

.desc h1 {
	font-size: 22px;
	color: #F19BAA;
	padding: 10px 0 0;
	font-weight: normal;
}

.desc p {
	font-size: 13px;
	text-indent: 2em;
	line-height: 30px;
	color: dimgray;
}

.works {
	margin-top: 25px;
	padding-left: 0;
}

.works h3 {
	line-height: 30px;
	font-size: 16px;
	padding-bottom: 5px;
	color: #F19BAA;
	clear: both;
	border-bottom: 1px solid #e8e8e8;
	margin: 0 6px 6px;
}

.works .items {
	margin-left: 10px;
}

.item {
	clear: both;
	width: 100%;
	margin: 10px 0;
	float: left;
}

.item .imgborder {
	border: 1px solid #e9e9e9;
	margin: 10px 20px 10px 0;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	display: table-cell;
	width: 113px;
	height: 113px;
}

.item .imgborder img {
	max-width: 105px;
	max-height: 105px;
	vertical-align: middle;
}

.item .detail {
	float: left;
	margin: -130px 0 0 130px;
	overflow: hidden;
	min-height: 123px;
}

.detail a {
	text-decoration: none;
}

.item h2 {
	font-size: 14px;
	/* line-height: 35px; */
	color: #F19BAA;
}

.detail .score {
	line-height: 25px;
	color: #636363;
}

.sa8 {
	background-position: -15px 0px;
}

.start0 {
	background-image: url(../images/star.png);
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: 3px;
}

.detail .info {
	line-height: 21px;
}
