<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>品牌管理</title>
		<link rel="stylesheet" type="text/css" href="/public/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/table.css" />
		<link rel="stylesheet" type="text/css" href="/public/fonticon/iconfont.css" />
		<style type="text/css">
			.col-sm-3 {
				width: 18%;
				text-align: right;
			}
		</style>
	</head>
	<body>
		<div class="col-md-9">
			<button type="button" class="btn btn-danger btn-xs active" data-toggle="modal" data-target="#addModal">
				<a href="#"><i class="iconfont icon-tianjia"></i>添加品牌</a>
			</button>
		</div>
		<div class="col-md-3">
			<form id="searchform" class="bs-example bs-example-form" role="form">
				<input type="search" id="bcc_name_ch" class="input" name="bcc_name_ch" placeholder="请输入品牌名称" />
				<button type="button" class="btn btn-success btn-sm" id="search">搜索</button>
			</form>
		</div>
		<table id="table" border="1" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>ID</th>
					<th>品牌图片</th>
					<th>品牌中文名</th>
					<th>品牌英文名</th>
					<th>跳转路径</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<!-- 添加 -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加</h4>
					</div>
					<div class="modal-body">
						<form id="addform" class="form-horizontal" role="form">
							<div class="form-group">
								<label for="bcc_img" class="col-sm-3 control-label">品牌图片:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_img" placeholder="请输入用品牌图片地址" />
								</div>
							</div>
							<div class="form-group">
								<label for="bcc_name_ch" class="col-sm-3 control-label">品牌中文名:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_name_ch" placeholder="请输入品牌中文名" />
								</div>
							</div>
							<div class="form-group">
								<label for="bcc_name_eh" class="col-sm-3 control-label">品牌英文名:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_name_eh" placeholder="请输入品牌英文名" />
								</div>
							</div>
							<div class="form-group">
								<label for="bcc_url" class="col-sm-3 control-label">跳转路径:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_url" placeholder="请输入路径" />
								</div>
							</div>
							<div class="text-right">
								<span id="returnMessage" class="glyphicon"> </span>
								<button type="button" class="btn btn1 btn-success" id="add">添加</button>
								<button type="button" class="btn btn1 btn-danger" data-dismiss="modal">关闭</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- 修改 -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修改</h4>
					</div>
					<div class="modal-body">
						<form id="updateform" class="form-horizontal" role="form">
							<div class="form-group display">
								<label for="bcc_id" class="col-sm-3 control-label">ID:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_id" id="bccid" placeholder="请输入ID" />
								</div>
							</div>
							<div class="form-group">
								<label for="bcc_img" class="col-sm-3 control-label">品牌图片:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_img" id="bccimg" placeholder="请输入用户名称" />
								</div>
							</div>
							<div class="form-group">
								<label for="bcc_name_ch" class="col-sm-3 control-label">品牌中文名:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_name_ch" id="bccnamech" value="" placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label for="bcc_name_eh" class="col-sm-3 control-label">品牌英文名:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_name_eh" id="bccnameeh" value="" placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label for="bcc_url" class="col-sm-3 control-label">跳转路径:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="bcc_url" id="bccurl" placeholder="请输入路径" />
								</div>
							</div>
							<div class="text-right">
								<span id="returnMessage" class="glyphicon"> </span>
								<button type="button" class="btn btn1 btn-success" id="update">修改</button>
								<button type="button" class="btn btn1 btn-danger" data-dismiss="modal">关闭</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="/public/js/jquery-3.3.1.min.js"></script>
		<script src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script src="/public/js/bootstrap-paginator.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 查询
			$.ajax({
				url: '/api/brandclasscontent',
				type: 'post',
				dataType: 'json',
				success: function(data) {
					var ht = '';
					if (data.code == 0) {
						for (var i = 0; i < data.msg.length; i++) {
							ht += "<tr>" +
								"<td>" + data.msg[i].bcc_id + "</td>" +
								"<td ><img src=" + data.msg[i].bcc_img + "></td>" +
								"<td>" + data.msg[i].bcc_name_ch + "</td>" +
								"<td>" + data.msg[i].bcc_name_eh + "</td>" +
								"<td>" + data.msg[i].bcc_url + "</td>" +
								"<td >" +
								"<button id='update' class='btn btn-xs btn-success' data-id='" + data.msg[i].bcc_id +
								"' data-toggle='modal' data-target='#updateModal'><a href='#'><i class='iconfont icon-web-icon-'></i>修改</a></button>" +
								"<button id='delete' class='btn btn-xs btn-danger' data-id='" + data.msg[i].bcc_id +
								"'><a href='#'><i class='iconfont icon-shanchu'></i>删除</a></button>" +
								"</td>" +
								"</tr>";
						}
						$('tbody').append(ht);
					}
				}
			})
			// 搜索
			$('#search').click(function() {
				var data = $('#searchform').serialize();
				if ($('.input').val() == '') {
					alert("内容不能为空")
					return false;
				} else {
					var ht = ''
					$.ajax({
						url: '/admin/searchbrand',
						type: 'post',
						dataType: 'json',
						data: data,
						success: function(data) {
							if (data.code == 0) {
								for (var i = 0; i < data.msg.length; i++) {
									ht += "<tr>" +
										"<td>" + data.msg[i].bcc_id + "</td>" +
										"<td ><img src=" + data.msg[i].bcc_img + "></td>" +
										"<td>" + data.msg[i].bcc_name_ch + "</td>" +
										"<td>" + data.msg[i].bcc_name_eh + "</td>" +
										"<td>" + data.msg[i].bcc_url + "</td>" +
										"<td >" +
										"<button id='update' class='btn btn-xs btn-success' data-id='" + data.msg[i].bcc_id +
										"' data-toggle='modal' data-target='#updateModal'><a href='#'><i class='iconfont icon-web-icon-'></i>修改</a></button>" +
										"<button id='delete' class='btn btn-xs btn-danger' data-id='" + data.msg[i].bcc_id +
										"'><a href='#'><i class='iconfont icon-shanchu'></i>删除</a></button>" +
										"</td>" +
										"</tr>";
								}
								$('tbody').html(ht);
								$('.input').val(""); // 清空
							}
						}
					})
				}
			})

			// 添加
			$('#add').click(function() {
				var data = $('#addform').serialize();
				$.ajax({
					url: '/admin/brandAdd',
					type: 'post',
					dataType: 'json',
					data: data,
					success: function(data) {
						if (data.code == 0) {
							alert(data.msg);
							setTimeout(function() {
								location.reload();
								// 刷新模态框，不然会保留上次填写的数据
								$("#addModal").on("hidden.bs.modal", function() {
									$(this).removeData("bs.modal");
								})
								$('#addform input').val('');
							}, 1000)
						} else if (data.code == 1) {
							alert(data.msg);
						} else if (data.code == -1) {
							alert(data.msg);
							// 刷新模态框，不然会保留上次填写的数据
							$("#addModal").on("hidden.bs.modal", function() {
								$(this).removeData("bs.modal");
							})
							$('#addform input').val('');
						}
					}
				})
			})
			// 查询单条数据
			$(document).on('click', '#update', function() {
				var id = $(this).attr("data-id");
				$.ajax({
					url: '/admin/brandId/' + id,
					type: 'post',
					dataType: 'json',
					success: function(data) {
						console.log(data);
						$("#bccid").attr("value", data.msg[0].bcc_id);
						$("#bccimg").attr("value", data.msg[0].bcc_img);
						$("#bccnamech").attr("value", data.msg[0].bcc_name_ch);
						$("#bccnameeh").attr("value", data.msg[0].bcc_name_eh);
						$("#bccurl").attr("value", data.msg[0].bcc_url);
					}
				})
			})
			// 修改
			$('#update').click(function() {
				var data = $('#updateform').serialize();
				$.ajax({
					url: '/admin/brandupdate',
					type: 'post',
					dataType: 'json',
					data: data,
					success: function(data) {
						if (data.code == 0) {
							alert(data.msg);
							setTimeout(function() {
								location.reload();
							}, 1000)
						} else if (data.code == 1) {
							alert(data.msg);
						} else if (data.code == -1) {
							alert(data.msg);
						}
					}
				})
			})
			// 删除
			$(document).on('click', '#delete', function() {
				var id = $(this).attr("data-id");
				$.ajax({
					url: '/admin/branddelete/' + id,
					/* 不能忘记/*/
					type: 'get',
					dataType: 'json',
					success: function(data) {
						if (data.code == 0) {
							if (!confirm('确定删除此记录吗？')) {
								location.reload();
								alert(data.msg);
								return false;
							} else {
								alert(data.msg);
								setTimeout(function() {
									location.reload();
									return true;
								}, 1000);
							}
						}
					}
				})
			})
		</script>
	</body>
</html>
