<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>用户</title>
		<link rel="stylesheet" type="text/css" href="/public/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/table.css" />
		<link rel="stylesheet" type="text/css" href="/public/fonticon/iconfont.css" />
	</head>
	<body>
		<div class="col-md-9">
			<button type="button" class="btn btn-danger btn-xs active" data-toggle="modal" data-target="#addModal">
				<a href="#"><i class="iconfont icon-tianjia"></i>添加用户信息</a>
			</button>
		</div>
		<div class="col-md-3">
			<form id="searchform" class="bs-example bs-example-form" role="form">
				<input type="search" id="user_name" class="input" name="user_name" placeholder="请输入用户名" />
				<button type="button" class="btn btn-success btn-sm" id="search">搜索</button>
			</form>
		</div>
		<table id="table" border="1" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>ID</th>
					<th>用户名</th>
					<th>密码</th>
					<th>手机号</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<!-- 添加 -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加</h4>
					</div>
					<div class="modal-body">
						<form id="addform" class="form-horizontal" role="form">
							<div class="form-group">
								<label for="user_name" class="col-sm-2 control-label">用户:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="user_name" placeholder="请输入用户名称" />
								</div>
							</div>
							<div class="form-group">
								<label for="user_pwd" class="col-sm-2 control-label">密码:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="user_pwd" placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label for="user_phone" class="col-sm-2 control-label">手机号:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="user_phone" placeholder="请输入手机号" />
								</div>
							</div>
							<div class="text-right">
								<span id="returnMessage" class="glyphicon"> </span>
								<button type="button" class="btn btn1 btn-success" id="add">添加</button>
								<button type="button" class="btn btn1 btn-danger" data-dismiss="modal">关闭</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- 修改 -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修改</h4>
					</div>
					<div class="modal-body">
						<form id="updateform" class="form-horizontal" role="form">
							<div class="form-group display">
								<label for="user_id" class="col-sm-2 control-label">ID:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="user_id" id="userid" placeholder="请输入ID" />
								</div>
							</div>
							<div class="form-group">
								<label for="user_name" class="col-sm-2 control-label">用户:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="user_name" id="username" placeholder="请输入用户名称" />
								</div>
							</div>
							<div class="form-group">
								<label for="user_pwd" class="col-sm-2 control-label">密码:</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" name="user_pwd" id="userpwd" value="" placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label for="user_phone" class="col-sm-2 control-label">手机号:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="user_phone" id="userphone" value="" placeholder="请输入密码" />
								</div>
							</div>
							<div class="text-right">
								<span id="returnMessage" class="glyphicon"> </span>
								<button type="button" class="btn btn1 btn-success" id="update">修改</button>
								<button type="button" class="btn btn1 btn-danger" data-dismiss="modal">关闭</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="/public/js/jquery-3.3.1.min.js"></script>
		<script src="/public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script src="/public/js/bootstrap-paginator.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 查询
			$.ajax({
				url: '/admin/users',
				type: 'post',
				dataType: 'json',
				success: function(data) {
					if (data.code == 0) {
						var ht = '';
						for (var i = 0; i < data.msg.length; i++) {
							ht += "<tr>" +
								"<td>" + data.msg[i].user_id + "</td>" +
								"<td>" + data.msg[i].user_name + "</td>" +
								"<td>" + data.msg[i].user_pwd + "</td>" +
								"<td>" + data.msg[i].user_phone + "</td>" +
								"<td >" +
								"<button id='update' class='btn btn-xs btn-success' data-id='" + data.msg[i].user_id +
								"' data-toggle='modal' data-target='#updateModal'><a href='#'><i class='iconfont icon-web-icon-'></i>修改</a></button>" +
								"<button id='delete' class='btn btn-xs btn-danger' data-id='" + data.msg[i].user_id +
								"'><a href='#'><i class='iconfont icon-shanchu'></i>删除</a></button>" +
								"</td>" +
								"</tr>";
						}
						$('tbody').append(ht);
					} else if (data.code == -1) {
						alert(data.pre);
					}
				}
			})
			// 搜索
			$('#search').click(function() {
				var data = $('#searchform').serialize();
				if ($('.input').val() == '') {
					alert("内容不能为空")
					return false;
				} else {
					var ht = ''
					$.ajax({
						url: '/admin/searchuser',
						type: 'post',
						dataType: 'json',
						data: data,
						success: function(data) {
							if (data.code == 0) {
								alert(data.pre);
								for (var i = 0; i < data.msg.length; i++) {
									ht += "<tr>" +
										"<td>" + data.msg[i].user_id + "</td>" +
										"<td>" + data.msg[i].user_name + "</td>" +
										"<td>" + data.msg[i].user_pwd + "</td>" +
										"<td>" + data.msg[i].user_phone + "</td>" +
										"<td >" +
										"<button id='update' class='btn btn-xs btn-success' data-id='" + data.msg[i].user_id +
										"' data-toggle='modal' data-target='#updateModal'><a href='#'><i class='iconfont icon-web-icon-'></i>修改</a></button>" +
										"<button id='delete' class='btn btn-xs btn-danger' data-id='" + data.msg[i].user_id +
										"'><a href='#'><i class='iconfont icon-shanchu'></i>删除</a></button>" +
										"</td>" +
										"</tr>";
								}
								$('tbody').html(ht);
								$('.input').val(""); // 清空
							}  else if (data.code == -1) {
								alert(data.pre);
							}
						}
					})
				}
			})

			// 添加
			$('#add').click(function() {
				var data = $('#addform').serialize();
				$.ajax({
					url: '/admin/usersadd',
					type: 'post',
					dataType: 'json',
					data: data,
					success: function(data) {
						if (data.code == 0) {
							alert(data.msg);
							setTimeout(function() {
								// 刷新模态框，不然会保留上次填写的数据
								$("#addModal").on("hidden.bs.modal", function() {
									$(this).removeData("bs.modal");
								})
								$('#addform input').val('');
								location.reload();
							}, 1000)
						} else if (data.code == 1) {
							alert(data.msg);
						} else if (data.code == 2) {
							alert(data.msg);
						} else if (data.code == 3) {
							alert(data.msg);
						} else if (data.code == -1) {
							alert(data.msg);
							// 刷新模态框，不然会保留上次填写的数据
							$("#addModal").on("hidden.bs.modal", function() {
								$(this).removeData("bs.modal");
							})
							$('#addform input').val('');
						} 
					}
				})
			})
			// 查询单条数据
			$(document).on('click', '#update', function() {
				var id = $(this).attr("data-id");
				$.ajax({
					url: '/admin/usersId/' + id,
					type: 'post',
					dataType: 'json',
					success: function(data) {
						$("#userid").attr("value", data.msg[0].user_id);
						$("#username").attr("value", data.msg[0].user_name);
						$("#userpwd").attr("value", data.msg[0].user_pwd);
						$("#userphone").attr("value", data.msg[0].user_phone);
					}
				})
			})
			// 修改
			$('#update').click(function() {
				var data = $('#updateform').serialize();
				$.ajax({
					url: '/admin/usersupdate',
					type: 'post',
					dataType: 'json',
					data: data,
					success: function(data) {
						if (data.code == 0) {
							alert(data.msg);
							setTimeout(function() {
								location.reload();
							}, 1000)
						} else if (data.code == 1) {
							alert(data.msg);
						} else if (data.code == 2) {
							alert(data.msg);
						} else if (data.code == 3) {
							alert(data.msg);
						} else if (data.code == -1) {
							alert(data.msg);
						}
					}
				})
			})
			// 删除
			$(document).on('click', '#delete', function() {
				var id = $(this).attr("data-id");
				$.ajax({
					url: '/admin/usersdelete/' + id,
					/* 不能忘记/*/
					type: 'get',
					dataType: 'json',
					success: function(data) {
						if (data.code == 0) {
							if (!confirm('确定删除此记录吗？')) {
								location.reload();
								alert(data.msg);
								return false;
							} else {
								location.reload();
								alert(data.msg);
							}	
						}
					}
				})
			})
		</script>
	</body>
</html>
